<template name="ice_payment">
    {{> ice_paymentTabular}}
</template>

<template name="ice_paymentTabular">
    <p>
        <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
    </p>

    {{> tabular table=Ice.TabularTable.Payment selector=selector class="table table-striped table-bordered table-condensed table-hover"}}
</template>

<!--Action-->
<template name="ice_paymentAction">
    {{#tabularAction}}
        <li><a  class="update" style="cursor: pointer;">{{fa "pencil"}} Update</a></li>
        <li><a  href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a  href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<template name="ice_paymentInsertTemplate">
    {{#autoForm collection=Ice.Collection.Payment id="ice_paymentInsertTemplate" type="insert"}}
        <div class="row">
            <div class="col-md-7">
                <div class="form-group{{#if afFieldIsInvalid name='customerId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="customerId">Customer</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='customerId' class="customerId input-sm"}}
                        <span class="input-group-addon">
                            <a href="#" class="customerAddOn">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='customerId'}}
                        <span class="help-block">{{afFieldMessage name='customerId'}}</span>
                    {{/if}}
                </div>

                <div class="form-group{{#if afFieldIsInvalid name='orderId_orderGroupId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="orderId_orderGroupId">invoice ID</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='orderId_orderGroupId' disabled="true" class="orderId_orderGroupId input-sm"}}
                        <span class="input-group-addon">
                            <a href="#" class="invoiceAddOn">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='orderId_orderGroupId'}}
                        <span class="help-block">{{afFieldMessage name='orderId_orderGroupId'}}</span>
                    {{/if}}
                </div>

                <div class="form-group{{#if afFieldIsInvalid name='staffId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="staffId">Staff</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='staffId' class="staffId input-sm"}}
                        <span class="input-group-addon">
                            <a href="#" class="staffAddOn">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='staffId'}}
                        <span class="help-block">{{afFieldMessage name='staffId'}}</span>
                    {{/if}}
                </div>

                {{> afQuickField name="paymentDate"}}
            </div>
            <div class="col-md-5">
                {{> afQuickField name="dueAmount" readonly='true'}}
                {{> afQuickField name="paidAmount"}}
                {{> afQuickField name="outstandingAmount" readonly='true'}}
            </div>

        </div>
        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<template name="ice_paymentUpdateTemplate">
    {{#autoForm collection=Ice.Collection.Payment id="ice_paymentUpdateTemplate" type="update" doc=this}}
        <div class="row">
            <div class="col-md-7">
                <div class="form-group{{#if afFieldIsInvalid name='customerId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="customerId">Customer</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='customerId' disabled="true" class="customerId input-sm"}}
                        <span class="input-group-addon">
                            <a href="#" class="invoiceAddOn">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='customerId'}}
                        <span class="help-block">{{afFieldMessage name='customerId'}}</span>
                    {{/if}}
                </div>

                <div class="form-group{{#if afFieldIsInvalid name='orderId_orderGroupId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="orderId_orderGroupId">invoice ID</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='orderId_orderGroupId' disabled="true" class="orderId_orderGroupId input-sm"}}
                        <span class="input-group-addon">
                            <a href="#" class="invoiceAddOn">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='orderId_orderGroupId'}}
                        <span class="help-block">{{afFieldMessage name='orderId_orderGroupId'}}</span>
                    {{/if}}
                </div>

                <div class="form-group{{#if afFieldIsInvalid name='staffId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="staffId">Staff</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='staffId' class="staffId input-sm"}}
                        <span class="input-group-addon">
                            <a href="#" class="staffAddOn">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='staffId'}}
                        <span class="help-block">{{afFieldMessage name='staffId'}}</span>
                    {{/if}}
                </div>
                {{> afQuickField name="paymentDate"}}
            </div>
            <div class="col-md-5">
                {{> afQuickField name="dueAmount" readonly='true'}}
                {{> afQuickField name="paidAmount"}}
                {{> afQuickField name="outstandingAmount" readonly='true'}}
            </div>

        </div>

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<template name="ice_paymentShowTemplate">
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{_id}}</dd>
        <dt>Customer ID</dt>
        <dd>{{customer customerId}}</dd>
        <dt>Invoice ID</dt>
        <dd>{{orderId_orderGroupId}}</dd>
        <dt>Due Amount</dt>
        <dd>{{format dueAmount}}</dd>
        <dt>Paid Amount</dt>
        <dd>{{format paidAmount}}</dd>
        <dt>Outstanding Amount</dt>
        <dd>{{format outstandingAmount}}</dd>
        <dt>Payment Date</dt>
        <dd>{{paymentDate}}</dd>
    </dl>
</template>

