<template name="ice_payment">
	{{foo}}
	{{> ice_paymentForm}}
</template>

<template name="ice_paymentForm">
	{{#autoForm collection=Ice.Collection.Payment id="ice_paymentForm" type="insert"}}
		<div class="row">
			<div class="col-sm-4"> 
				{{> afQuickField name="customerId"}}
			</div>
			<div class="col-sm-5"> 
				{{> afQuickField name="orderId_orderGroupId" disabled="true"}}
			</div>
			<div class="col-sm-3"> 
				{{> afQuickField name="staffId"}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4"> 
				{{> afQuickField name="dueAmount" readonly='true'}}
			</div>
			<div class="col-sm-4"> 
				{{> afQuickField name="paidAmount"}}
			</div>
			<div class="col-sm-4"> 
				{{> afQuickField name="outstandingAmount" readonly='true'}}
			</div>
		</div>
		<button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
		<button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
	{{/autoForm}}
</template>