<template name="ice_returning">
	{{> ice_returningTabular}}
</template>

<template name="ice_returningTabular">
    {{> tabular table=Ice.TabularTable.Returning selector=selector class="table table-striped table-bordered table-condensed table-hover customer"}}
</template>

<!--Action-->
<template name="ice_returningAction">
    {{#tabularAction}}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!-- insert -->
<template name="ice_returningInsert">
    {{#autoForm collection=Ice.Collection.Returning id="ice_returningInsert" type="insert"}}
        <div class="row">
					<div class="col-md-12">
                {{> afQuickField name='customerId' value=customerId type='hidden'}}
            <div class="col-md-4">
							<label for="">Customer<b>*</b></label>
							<input type="text" value={{customerName}} class="form-control" readonly="true">
            </div>
						<div class="col-md-4">
							{{> afQuickField name='returningDate'}}
						</div>
						<div class="col-md-4">
							{{> afQuickField name='staffId'}}
						</div>
					</div>
        </div>
				<div class="row">
					<div class="col-md-12">
						{{> afArrayField name="containers" id="container" template="customArrayReturningField" subtemplate="customObjectReturningField"}}
					</div>
				</div>
        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!-- update -->
<template name="ice_returningUpdate">
	{{#autoForm collection=Ice.Collection.Returning doc=this id="ice_returningUpdate" type="update"}}
	<div class="row">
		<div class="col-md-12">
					{{> afQuickField name='customerId' value=customerId type='hidden'}}
			<div class="col-md-4">
				<label for="">Customer<b>*</b></label>
				<input type="text" value={{_customer.name}} class="form-control" readonly="true">
			</div>
			<div class="col-md-4">
				{{> afQuickField name='returningDate'}}
			</div>
			<div class="col-md-4">
				{{> afQuickField name='staffId'}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{> afArrayField name="containers" id="container" template="customArrayReturningField" subtemplate="customObjectReturningField"}}
		</div>
	</div>
	<button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
	<button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
	{{/autoForm}}
</template>

<!-- Show -->
<template name="ice_returningShow">
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{_id}}</dd>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Gender</dt>
        <dd>{{gender}}</dd>
        <dt>Type</dt>
        <dd>{{customerType}}</dd>
        <dt>Status</dt>
        <dd>{{status}}</dd>
        <dt>Address</dt>
        <dd>{{address}}</dd>
        <dt>Telephone</dt>
        <dd>{{telephone}}</dd>
        <dt>Description</dt>
        <dd>{{Description}}</dd>
    </dl>
</template>

<!--Custom array field-->
<template name="afArrayField_customArrayReturningField">
    <div class="panel panel-default">
        <div class="panel-heading">{{fa "fa fa-shopping-cart"}} {{afFieldLabelText name=this.atts.name}}</div>
        <div class="panel-body">

            {{#if afFieldIsInvalid name=this.atts.name}}
                <div class="has-error">
                    <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
                </div>
            {{/if}}
            {{> returningHeader}}
            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row array-item">

                    {{> UI.dynamic template=../atts.subtemplate}}

                    <div class="col-sm-1">
                        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                            <button type="button" class="btn btn-sm btn-danger autoform-remove-item btnRemove">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        {{/if}}
                    </div>
                </div>
            {{/afEachArrayItem}}

            {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row">
                    <!--Sub Total-->
                    <!-- <div class="col-sm-9 text-right">
                        <strong>Sub Total :</strong>
                    </div>
                    <div class="col-sm-2">
                        {{> afQuickField name='subtotal' readonly="true" label=false template="bootstrap3" class="input-sm"}}
                    </div> -->
                    <div class="col-sm-10"></div>
                    <!--Add more-->
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary autoform-add-item btn-sm btnAdd"
                                data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}"
                                data-autoform-maxCount="{{this.atts.maxCount}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>

            {{/if}}

        </div>
    </div>
</template>

<!--Custom object field-->
<template name="customObjectReturningField">
			<div class="col-sm-3">
					{{> afQuickField name=current.lendingId template="bootstrap3" label=false class="input-sm item  lendingId" options=listLending}}
			</div>
				<div class="col-sm-3">
						{{> afQuickField name=current.containerId template="bootstrap3" label=false class="input-sm  containerId" options=listContainer}}
					</div>
	    <div class="col-sm-2">
	        {{> afQuickField name=current.condition template="bootstrap3" label=false class="input-sm cursor-pointer condition"}}
	    </div>
			<div class="col-sm-2">
					{{> afQuickField name=current.returnMoney template="bootstrap3" label=false class="input-sm" readonly='true'}}
			</div>
</template>

<template name="returningHeader">
    <div class="row">
			<div class="col-sm-3">
					<label>LendingId*:</label>
			</div>
        <div class="col-sm-3">
            <label>Container*:</label>

        </div>
        <div class="col-sm-2">
            <label>Condition:</label>
        </div>

				<div class="col-sm-2">
            <label>Return Money:</label>
        </div>
    </div>
</template>
