<template name="ice_orderGroup">
    {{> tabular table=Ice.TabularTable.GroupInvoice selector=selector class="table table-striped table-bordered table-condensed table-hover"}}
</template>
<!-- Show -->
<template name="ice_groupInvoiceAction">
    {{#tabularAction}}
        <li ><a class="cursor-pointer groupPayment">{{fa "money"}} Payment</a></li>

        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>
