<template name="ice_navbar">
    <ul class="nav navbar-nav">
        <li class="{{isActiveRoute regex='ice.home'}}"><a href="{{pathFor 'ice.home'}}">Home</a></li>
        <!-- <li class="{{isActiveRoute regex='restuarant.order'}}"><a href="{{pathFor 'restuarant.order'}}">Order</a></li>
        <li class="{{isActiveRoute regex='restuarant.chef'}}"><a href="{{pathFor 'restuarant.chef'}}">Chef Monitor</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                General <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="{{isActiveRoute regex='restuarant.category'}}"><a
                        href="{{pathFor 'restuarant.category'}}">Category</a>
                </li>
                 <li class="{{isActiveRoute regex='restuarant.product'}}"><a
                        href="{{pathFor 'restuarant.product'}}">Product</a>
                </li>
            </ul>
        </li> -->
    </ul>
</template>
