<template name="ice_paymentMonitor">
  {{> list_invoices}}
</template>
<template name="list_invoices">
  <div class="container">
  	<div class="row">
  		<div class="timeline-centered">
    {{#each invoices}}
      {{#if isEven index}}
      	<article class="timeline-entry left-aligned">

          <div class="timeline-entry-inner">
            <time class="timeline-time"><p class='label label-warning circle'>{{{type iceCustomerId}}}</p> <span><!-- {{livestamp createdAt}} --></span></time>

            <div class="timeline-icon bg-secondary">
              <i class="entypo-feather"></i>
            </div>

            <div class="timeline-label">
              <h2 class="order-info">#<a href="#" class="order-id {{#if paid}} delete-mark not-active{{/if}}">{{_id}}</a><span class="bg-blue pull-right {{#if paid}} delete-mark{{/if}}"> Date:{{startDate}}-{{endDate}}</span>&nbsp;<!-- <input type="checkbox" name="paid" class="paid" checked="{{paid}}"> --> </h2>
        <!--       <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progress paid}}%;">
                  60%
                </div>
              </div> -->

              <p class="invoiceId">
                <input type="hidden" class="id" value="{{_id}}">
                <ul class="nav">
                  <li class="{{#if paid}}delete-mark{{/if}}">{{{reportInfo iceCustomerId total totalInDollar}}}</li>
                </ul>
              </p>
              <!-- 
              <p>
                Order by: {{createdBy}}
              </p> -->
            </div>
          </div>
      	</article> <!-- end article -->

      {{else}}

       <article class="timeline-entry ">

          <div class="timeline-entry-inner">
            <time class="timeline-time"><p class="label label-info circle">{{{type iceCustomerId}}}</p> <span><!-- {{livestamp createdAt}} --></span></time>

            <div class="timeline-icon bg-info">
              <i class="entypo-feather"></i>
            </div>

            <div class="timeline-label">
              <h2 class="order-info">#<a href="#" class="order-id {{#if paid}} delete-mark not-active{{/if}}">{{_id}}</a><span class="bg-info pull-right {{#if paid}} delete-mark{{/if}}"> Date:{{startDate}}-{{endDate}}</span>&nbsp;<!-- <input type="checkbox" name="paid" class="paid" checked="{{paid}}"> --> </h2>
              <!-- <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progress _id}}%;">
                  60%
                </div>
              </div> -->

              <p class="invoiceId">
                <input type="hidden" class="id" value="{{_id}}">
                <ul class="nav">
                  <li class="{{#if paid}}delete-mark{{/if}}">{{{reportInfo iceCustomerId total totalInDollar}}}</li>
                </ul>
              </p>
              <!-- 
              <p>
                Order by: {{createdBy}}
              </p> -->
            </div>
          </div>
        </article> <!-- end article -->
      {{/if}}
    {{/each}}
  </div>
  	</div>
  </div>
</template>
