.delete-mark{
  text-decoration: line-through;
  color: rgb(74, 54, 130);
  }
li.finished{
 font-size: 16px;
}


.badge.badge-error {
  background-color: #b94a48;
}

.badge.badge-warning {
  background-color: #f89406;
}

.badge.badge-success {
  background-color: #468847;
}

.badge.badge-info {
  background-color: #3a87ad;
}

.badge.badge-inverse {
  background-color: #333333;
}



