<template name="ice_navbar">
    <ul class="nav navbar-nav">
        <li class="{{isActiveRoute regex='ice.home'}}"><a href="{{pathFor 'ice.home'}}">Home</a></li>
        <li class="{{isActiveRoute regex='ice.customer'}}"><a href="{{pathFor 'ice.customer'}}">Customer</a></li>
        <li class="{{isActiveRoute regex='ice.order'}}"><a href="{{pathFor 'ice.order'}}">Order</a></li>
        <li class="{{isActiveRoute regex='ice.userStaff'}}"><a href="{{pathFor 'ice.userStaff'}}">UserStaff</a></li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Monitor&nbsp;<span class="badge badge-info">{{notification}}</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
        
            <li class="{{isActiveRoute regex='ice.paymentGroupMonitor'}}"><a href="{{pathFor 'ice.paymentGroupMonitor'}}">Group Payment&nbsp;<span class="badge badge-warning">{{groupNotification}}</span></a></li>
            <li class="{{isActiveRoute regex='ice.paymentGeneralMonitor'}}"><a href="{{pathFor 'ice.paymentGeneralMonitor'}}">General Payment&nbsp;<span class="badge badge-success">{{generalNotification}}</span></a></li>
            </ul>
        </li> 

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                General <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="{{isActiveRoute regex='ice.payment'}}">
                    <a href="{{pathFor 'ice.payment'}}">Payment</a>
                </li>
                <li class="{{isActiveRoute regex='cpanel.exchange'}}"><a
                        href="{{pathFor 'cpanel.exchange'}}">Exchange</a>
                </li>
            </ul>
        </li> 
    </ul>
</template>
